main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.test {
  margin-top: 30px;
  padding: 40px 30px;
}

.green-letter {
  color: var(--text-right);
}

.red-letter {
  color: var(--text-wrong);
}

.words {
  font-size: 32px;
  padding: 20px;
  color: var(--color-text);
  border: 1px solid var(--color-text);
  border-radius: 4px;
  max-height: 280px;
  max-width: 1200px;
  display: inline-block;
  overflow: hidden;
  transition: opacity 0.25s ease-in-out; 
  opacity: 1;
}

.cursor {
  animation: blink 1s steps(1) infinite;
  display: inline-block;
  width: 0.30ch;
  margin-left: -4px;
}

@keyframes blink {
  0%, 50% { opacity: 1;}
  51%,100% { opacity: 0;}
}

.progress {
  margin-top: 10px;
}

.word-container {
  white-space: nowrap;
  display: inline-block;
}

.fade-out {
  opacity: 0;
}