[data-theme="dark"] {
  --bg: #1a0f12;              
  --text: #EAEAEA;          
  --selection: #2A2A2A;       
  --active: #3C3C3C;          
  --selected: #8d454b;        
  --text-right: #4ADE80;     
  --text-wrong: #F87171;      
  --disabled: rgba(255, 255, 255, 0.25);
  --active-selector: #E63946;
}


[data-theme="light"] {
  --bg: #EEF0F2;
  --text: black;
  --selection: #b5b7b9;
  --active: #dddee0;
  --selected: #b2c0bc;
  --text-right:  rgb(31, 196, 31);
  --text-wrong: rgb(243, 49, 49);
  --active-selector: hsl(160, 95%, 33%);
}

[data-theme="matcha"] {
  --bg: #47624F;
  --text: #EBEBEB;
  --selection: #5d7b63;
  --active: #344c3a;
  --selected: #b19b54;
  --text-right:  rgb(49, 247, 49);
  --text-wrong: rgb(255, 0, 0);
  --active-selector: hsl(41, 95%, 61%);
}

[data-theme="navy"] {
  --bg: #273043;
  --text: #DDD1C7;
  --selection: #3a4a65; 
  --active: #1b2230;
  --selected: #928265;
  --text-right:  rgb(118, 245, 118);
  --text-wrong: rgb(172, 25, 25);
  --active-selector: #dfcc60;
}


.dark-btn {
  background-color: #1d1d1d; 
  color: #f7f4e4;
}
.dark-btn:hover {
  background-color: #333333; 
}
.dark-btn:active {
  background-color: #555555; 
}

.light-btn {
  background-color: #EEF0F2;
  color: black;
}
.light-btn:hover {
  background-color: #b5b7b9; 
}
.light-btn:active {
  background-color: #dddee0; 
}

.matcha-btn {
  background-color: #47624F;
  color: #EBEBEB;
}
.matcha-btn:hover {
  background-color: #5d7b63; 
}
.matcha-btn:active {
  background-color: #344c3a;
}

.navy-btn {
  background-color: #273043;
  color: #DDD1C7;
}
.navy-btn:hover {
  background-color: #3a4a65; 
}
.navy-btn:active {
  background-color: #1b2230;
}

body {
  margin: 20px 20px;
  background-color: var(--bg);
  color: var(--text);
}

header{
  height: 100px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 45px;
  border-bottom: 1px solid var(--text);
}

.title-btn {
  background-color: transparent;
  color: var(--text);
  cursor: pointer;
  border: none;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  border: none;
  background-color: transparent;
  z-index: 10;
}

.theme-selector {
  height: 25px;
}

.dropdown-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.3);
  z-index: 8;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 3px);
  left: -8px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--selection);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}

.dropdown-menu > button {
  padding: 6px 4px;
  border: none;
}

.wide-menu{
  padding: 5px;
  font-weight: bold;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3,minmax(auto,250px));
  justify-content: center;
}

.wide-menu > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selector, .restart {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--selected);
  border-radius: 2px;
  padding: 6px;
  color: var(--text);
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 5px;
}

.selector:hover {
  background-color: var(--selection);
  cursor: pointer;
  border-radius: 2px;
  font-size: 13px;
}

.selector:active {
  background-color: var(--active);
}

.active-selector {
  color: var(--active-selector);
  border-bottom: 2px solid var(--active-selector);
}

.selector > img {
  width: 22px;
}

.m-selector {
  color: var(--text);
  background-color: transparent;
  font-size: 14px;
  border: 1px solid var(--active-selector);
  padding: 5px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.m-selector:hover {
  background-color: var(--selection);
}
.m-selector:active {
  background-color: var(--active);
}

.m-selector > img {
  height: 30px;
}

.long-menu {
  display: none;
  gap: 10px;
  justify-content: center;
  padding-top: 20px;
}
main {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 60px;
}

.disabled {
  display: none;
}

.word {
  display: inline-block;
  white-space: nowrap;
}
.words {
  font-size: 26px;
  padding: 20px;
  color: var(--text);
  border: 1px solid var(--text);
  border-radius: 4px;
  max-height: 280px;
  overflow: hidden;
  max-width: 1000px;
}

.cursor {
  animation: blink 1s steps(1) infinite;
  display: inline-block;
  width: 0.40ch;
  margin-left: -4px;
}

.progress {
  text-align: center;
  margin-top: 30px;
}

@keyframes blink {
  0%, 50% { opacity: 1;}
  51%,100% { opacity: 0;}
}

.green-letter {
  color: var(--text-right);
}

.red-letter {
  color: var(--text-wrong);
}

.restart {
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid var(--selected);
  border-radius: 4px;
}

.restart:hover {
  font-size: 20px;
  background-color: var(--selection);
  border-radius: 2px;
  padding: 6px 8px;
}

.restart:active{
  background-color: var(--active);
}
footer {
  text-align: center;
  height: 20vh;
}


@media (min-width:1050px){
  body {
    margin: 20px 200px;
  }
}

@media (min-width: 800px) and (max-width: 1049px){
   body{
    margin: 20px 80px;
  }
  main {
  padding: 40px 40px;
  }
  .wide-menu {
    display: none;
  }
  .long-menu {
    display: flex;
  }
}

@media (max-width: 799px) {
  body{
    margin: 20px 25px;
  }

  .option-label{
    display: none;
  }

  .title {
    font-size: 20px;
  }
  main {
  padding: 20px 20px;
  }

  .words {
  font-size: 20px;
  }
  .wide-menu {
    display: none;
  }
  .long-menu {
    display: flex;
  }
}

