[data-theme="dark"] {
  --color-bg: hsl(30, 29%, 7%);
  --color-text: hsl(28, 29%, 84%);
  --color-btn-inactive: hsl(30, 25%, 50%);
  --color-btn-hover: hsl(30, 55%, 60%);
  --color-btn-pressed: hsl(30, 50%, 55%);
  --color-btn-shadow: hsl(30, 55%, 58%);
  --color-option-inactive: hsl(37, 11%, 35%);
  --color-option-active: hsl(30, 84%, 66%);
  --color-progress: hsl(0, 51%, 41%);
  --text-right: hsl(140, 55%, 50%);
  --text-wrong: hsl(0, 70%, 55%);
}

[data-theme="light"] {
  --color-bg: hsl(195, 100%, 97%);
  --color-text: hsl(212, 30%, 24%);
  --color-btn-inactive: hsl(208, 60%, 68%);
  --color-btn-hover: hsl(190, 70%, 85%);
  --color-btn-pressed: hsl(190, 50%, 88%);
  --color-btn-shadow: hsl(180, 66%, 23%);
  --color-option-inactive: hsl(180, 13%, 64%);
  --color-option-active: hsl(180, 100%, 29%);
  --color-progress: hsl(229, 51%, 41%);
  --text-right: hsl(135, 95%, 34%);
  --text-wrong: hsl(0, 70%, 45%);
}

[data-theme="navy"]{
   --color-bg: hsl(210, 50%, 18%);
  --color-text: hsl(200, 70%, 92%);
  --color-btn-inactive: hsl(210, 33%, 55%);
  --color-btn-hover: hsl(200, 70%, 65%);
  --color-btn-pressed: hsl(200, 60%, 55%);
  --color-btn-shadow: hsl(200, 70%, 55%);
  --color-option-inactive: hsl(199, 25%, 38%);
  --color-option-active: hsl(200, 100%, 55%);
  --color-progress: hsl(41, 87%, 54%);
  --text-right: hsl(140, 55%, 45%);
  --text-wrong: hsl(0, 70%, 50%);

}

[data-theme="cupcake"] {
  --color-bg: hsl(340, 51%, 30%);
  --color-text: hsl(340, 70%, 95%);     
  --color-btn-inactive: hsl(46, 28%, 60%);
  --color-btn-hover: hsl(0, 70%, 75%);
  --color-btn-pressed: hsl(0, 55%, 65%);
  --color-btn-shadow: hsl(39, 71%, 55%);
  --color-option-inactive: hsl(27, 9%, 53%);
  --color-option-active: hsl(39, 71%, 60%);
  --color-progress: hsl(19, 94%, 55%);
  --text-right: hsl(145, 55%, 50%);
  --text-wrong: hsl(0, 70%, 55%);
}

.light-btn {
  background-color: hsl(195, 100%, 97%);
  color: hsl(210, 30%, 15%);
}
.light-btn:hover {
  background-color: hsl(190, 70%, 85%);
}
.light-btn:active {
  background-color: hsl(190, 50%, 88%);
}

.dark-btn {
  background-color: hsl(30, 29%, 7%);
  color: hsl(30, 20%, 88%);
}
.dark-btn:hover {
  background-color: hsl(30, 55%, 60%);
}
.dark-btn:active {
  background-color: hsl(30, 50%, 55%);
}

.navy-btn {
  background-color: hsl(210, 50%, 18%);
  color: hsl(200, 70%, 92%);
}
.navy-btn:hover {
  background-color: hsl(200, 70%, 65%);
}
.navy-btn:active {
  background-color: hsl(200, 60%, 55%);
}

.cupcake-btn {
  background-color: hsl(340, 50%, 20%);
  color: hsl(340, 70%, 95%);
}
.cupcake-btn:hover {
  background-color: hsl(0, 70%, 75%);
}
.cupcake-btn:active {
  background-color: hsl(0, 55%, 65%);
}

body {
  margin: 20px 20px;
  background-color: var(--color-bg);
  color: var(--color-text);
}

header{
  height: 100px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 45px;
  border-bottom: 1px solid var(--color-text);
}

.title-btn {
  background-color: transparent;
  color: var(--color-text);
  cursor: pointer;
  border: none;
}

.restart {
  color: var(--color-btn-inactive);
  background-color: var(--color-bg);
  border: 1px solid var(--color-option-active);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 1px var(--color-btn-shadow);
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 20px;
}

.restart:hover {
  color: var(--color-text);
  transform: scale(1.03);
  box-shadow: 0px 0px 2px var(--color-option-active);
}

.restart:active{
  background-color: var(--color-btn-pressed);
}
footer {
  border-top: 1px solid var(--color-text);
  text-align: center;
  height: 20vh;
}


@media (min-width:1050px){
  body {
    margin: 20px 100px;
  }
}

@media (min-width: 800px) and (max-width: 1049px){
  body{
    margin: 20px 100px;
  }
  main {
  padding: 40px 0px;
  }
  .wide-menu {
    display: none;
  }
  .m-menu {
    display: flex;
  }
}

@media (max-width: 799px) {
  body{
    margin: 20px 10px;
  }

  .option-label{
    display: none;
  }

  .title {
    font-size: 20px;
  }
  main {
  padding: 20px 0px;
  }

  .words {
  font-size: 20px;
  }
  .wide-menu {
    display: none;
  }
  .m-menu {
    display: flex;
  }
}